In [8]:
from send_email import RunService
run = RunService()
run('demo')
run.user_df

news 메일발송 완료
news & books 메일발송 완료

,email,gender,age,reception_time,weekend,book_service,large_category,middle_category,selected_book_isbn
0,tutujin007@naver.com,female,20,0,1,0,None,None,None
1,tutujin3129@gmail.com,female,20,0,1,1,"소설,소설,시에세이","영미소설,판타지소설,한국시","9788925554990,9788925576633,9791157956357"
2,pagepallete@gmail.com,female,20,0,1,0,None,None,None
3,kyooon6248@naver.com,female,20,0,1,1,"소설,인문","한국소설,철학","9791191891287,9788937834790"
4,qkrdbdud98@naver.com,female,20,0,1,1,"예술대중문화,예술대중문화","영화,음악","9788934942436,9788967212032"

In [9]:
import pandas as pd
run.user_df = pd.DataFrame({
            'email':['qkrehdtla43@naver.com','qkrehdtla43@gmail.com'],
            'gender':['female','female'], 
            'age':[20,20],
            'reception_time':[0,0], 'weekend':[1,1],
            'book_service':[0,1],
            'large_category':[None,'소설,시에세이,인문'],
            'middle_category':[None,'영미소설,테마에세이,철학'],
            'selected_book_isbn':[None, '9791191248975,9788925563350,9791190238946']
            })
run('demo')

news 메일발송 완료
news & books 메일발송 완료